@media (max-width: 1279px) {
    header {
        background-position: 70%;
    }

    .banner-header {
        padding: 20px;
        text-align: left;
        gap: 24px;
    }

    .banner-titulo {
        margin: 0;
        font-size: 2rem;
    }

    .banner-buttons {
        gap: 16px;
        flex-direction: column;
    }

    .container-card {
        padding: 50px 20px;
    }

    .card {
        flex-direction: column;
    }

    .card-titulo {
        font-size: 1.5rem;
    }

    .card-2 {
        text-align: start;
    }
}